---
import Layout from '../layouts/Layout.astro';
import ConfirmationPage from '../components/ConfirmationPage';
---

<Layout title="Pesanan Berhasil - Order Mobile">
  <main class="min-h-screen">
    <ConfirmationPage client:load />
  </main>
</Layout>
