---
import Layout from '../layouts/Layout.astro';
import LoginPage from '../components/LoginPage';
---

<Layout title="Masuk - Order Mobile">
  <main class="min-h-screen flex flex-col">
    <LoginPage client:load />
  </main>
</Layout>
