---
import Layout from '../layouts/Layout.astro';
import RegisterPage from '../components/RegisterPage';
---

<Layout title="Daftar - Order Mobile">
  <main class="min-h-screen flex flex-col">
    <RegisterPage client:load />
  </main>
</Layout>
